.aboutmain {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    height: 150vh;
    background-color: #212529;


  }
.aboutdiv {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.abouttext {
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
.aboutimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img{
    object-fit: cover;
        height: 500px;
    width: 350px;
    border: 1px solid #639cd9;
    border-radius: 8px ;
    padding: 20px;
  }
  h1{
    color: #639cd9;
}
h4{
    text-align: left;
}
p{
  color :    #7a7a7a
}


@media screen and (max-width: 760px) {
    .aboutmain {
        height: 120rem;
    
    
      }
      .aboutdiv  {
        flex-direction: column;
    height: 120rem;
    justify-content: flex-start;
    gap: 100px;
}
      
  
      .abouttext  {
        width: 96%;
    padding-top: 50px;
    padding-left: 10px;
    text-align: left;
}
      .aboutimg  {
        object-fit: cover;
        height: 500px;
   
}
      
  
    
   
  }
  
  .animatednumbers{
    display: flex;

  }
  .animatednumbers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  span{
    font-size: 80px;
    font-weight: 600;
  }

  .number1{

    border: 1px solid #639cd9;
    border-radius: 8px ;
    padding: 20px;
  }

  .number2{

    border: 1px solid #639cd9;
    border-radius: 8px ;
    padding: 20px;
  }

  .number3{

    border: 1px solid #639cd9;
    border-radius: 8px ;
    padding: 20px;
  }

  @media screen and (max-width: 760px) {
     
  .animatednumbers{
    display: flex;
    flex-direction: column;

  }
  .animatednumbers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60rem;

  }

  span{
    font-size: 50px;
    font-weight: 600;
  }

  .number1{
    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .number2{
    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #639cd9;
    border-radius: 8px ;
    padding: 20px;
  }

  .number3{

    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
      