.aboutmain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 160vh;
  background-color: #212529;
  padding-top: 2rem;
  gap: 30px;
  padding-bottom: 2rem;

  }
  .abouttitle > h2 {
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(242, 243, 244);

  }
.aboutdiv {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.abouttext {
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
.abouttext > h4{
  color: rgb(133, 76, 230);
  }
.aboutimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img{
    object-fit: cover;
        height: 500px;
    width: 350px;
    border: 1px solid rgb(133, 76, 230);;
    border-radius: 8px ;
    padding: 20px;
  }
  h1{
    color: rgb(133, 76, 230);;
}
h4{
    text-align: left;
}
p{
  color :    #7a7a7a
}

.number1 > h2{    color: rgb(177, 178, 179);}
.number2 > h2{    color: rgb(177, 178, 179);}
.number3 > h2{    color: rgb(177, 178, 179);}

@media screen and (max-width: 760px) {
    .aboutmain {
      height: 150rem;    
    
      }
      .aboutdiv  {
        flex-direction: column;
    height: 120rem;
    justify-content: flex-start;
    gap: 100px;
}
      
  
      .abouttext  {
        width: 96%;
    padding-top: 50px;
    padding-left: 10px;
    text-align: left;
}
      .aboutimg  {
        object-fit: cover;
        height: 500px;
   
}
      
  
    
   
  }
  
  .animatednumbers{
    display: flex;

  }
  .animatednumbers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  span{
    font-size: 22px;
    font-weight: 600;
  }
  .animate > span{
    color: rgb(133, 76, 230);
      font-size: 40px;

  }
  .number1{
  
    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.125);

 
    transition: all 0.5s ease-in-out 0s;
  
     border-radius: 8px ;
    padding: 20px;
  }

  .number2{

    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.125);

 
    transition: all 0.5s ease-in-out 0s;
  
     border-radius: 8px ;
    padding: 20px;
  }


   #animate{
    color: #639cd9;
   }
  .number3{

    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.125);
 
    transition: all 0.5s ease-in-out 0s;
  
     border-radius: 8px ;
    padding: 20px;
  }

  @media screen and (max-width: 760px) {
     
  .animatednumbers{
    display: flex;
    flex-direction: column;

  }
  .animatednumbers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60rem;

  }

  span{
    font-size: 30px;
    font-weight: 600;
    color: #639cd9;
  }

  .number1{
    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .number2{
    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border-radius: 8px ;
    padding: 20px;
  }

  .number3{

    padding: 11px 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
      


@media screen and (min-width: 1200px) {



}
