.maindiv{
    width: 100%    ;
    height: 100vh;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typewriter{
    display: flex;
    gap: 5px;
    align-items: center;
}
 


.Typewriter__wrapper {
  cursor: pointer;
  color: rgb(133, 76, 230);/* Adjust size as needed */
    font-weight: 600;
    font-size: 35px;
  }
.Typewriter__cursor {
    color: rgb(133, 76, 230);; /* Adjust size as needed */
  }
 
  h1{
    font-size: 56px;
    color: white;
  }
  span{
    color: white;
  }
  
  .divicon{
    display: flex;
    gap: 10px ;
  }
  .icon{
    font-size: 40px;
    color: rgb(133, 76, 230);
    background: black;
    padding: 5px 5px;
    border: 1px solid transparent;
    border-radius: 10px;

  }

  @media screen and (max-width: 760px) {
  
  h1{
    font-size: 40px;
    text-align: center;
  }
    
  .title{
    font-size: 25px;
        line-height: 48px;
        color: rgb(242, 243, 244);
 
        
 
  } 

  .Typewriter__wrapper {
    cursor: pointer;
    color: rgb(133, 76, 230);/* Adjust size as needed */
      font-weight: 600;
      font-size: 25px;
    }
  }
  .title{
    font-size: 22px;
        line-height: 48px;
        color: rgb(242, 243, 244);
 
        
 
  }