
.maincontact{
    width: 100%;
    display: flex;
 
    align-items: center;
    flex-direction: column;
    height: 150vh;
    background-color: #212529;
    padding-top: 2rem;
    gap: 30px;

}



.contacttitle > h2{
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(242, 243, 244);
}

 
.contactdiv{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 0px 0px 80px;
    gap: 12px;

} 
 


form{
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 32px;
    border-radius: 12px;
    box-shadow: rgba(23, 92, 230, 0.1) 0px 4px 24px;
    margin-top: 28px;
    gap: 12px;
 
}


input{
    flex: 1 1 0%;
    background-color: transparent;
    border: 1px solid rgba(177, 178, 179, 0.314);
    outline: none;
    font-size: 18px;
    color: rgb(242, 243, 244);
    border-radius: 12px;
    padding: 12px 16px;

}

.contactbtn{
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
    padding: 13px 16px;
    margin-top: 2px;
    border-radius: 12px;
    border: none;
    color: rgb(242, 243, 244);
    font-size: 18px;
    font-weight: 600;
}