.mainexperience{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300vh;
    background-color: #212529;
    padding-top: 2rem;
    gap: 60px;
}


.experiencetitle > h2{
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(242, 243, 244);
}
.experiencetitle > p{
    font-weight: 500;

}






.experiencediv{
    width: 100%;
    height: 90%;
    display: flex;
 
position: relative;
}
 

 

 

.jobul{
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;
    display: flex;
    flex-direction: column;
     max-width: 550px;
    width: 538px;
}

.jobli{
    display: flex;
 
}

.jobimg{
    height: 67px;
    width: 87px;
    object-fit: fill;
    border: 1px solid transparent;
    border-radius: 16px;}

.jobtitle{
     
    display: flex;
    align-items: center;
    gap: 12px;

}
.jobdetails{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-bottom: 10px;

}
.jobrole{
    font-size: 18px;
    color: rgba(242, 243, 244, 0.6);
 
}
.company{
    font-size: 16px;
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 10px;

}
.jobdate{
    font-size: 12px;
    color: rgba(242, 243, 244, 0.6);
    margin-top: 5px;

}

.jobdesc{
    font-size: 15px;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 10px;
}
.skillsli {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
    display: flex;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;

    gap: 13px;
        color: rgba(242, 243, 244, 0.6);
    flex-wrap: wrap;

}
.skillsli > li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
list-style: disc;
color: rgba(242, 243, 244, 0.6);

}
b{
    color: rgba(242, 243, 244, 0.6);

}
.verticalline::before{
    background:    #FFF;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 4px;
}

.red-box{
     height: 100px;
     width: 600px;
    display: flex;
    justify-content: flex-end;
    height: 500px;
}
.blue-box{
     width: 1300px;
        display: flex;
    justify-content: flex-end;
    height: 500px;
}
.yellow-box {
     height: 100px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    height: 500px;
}


@media screen and (max-width: 760px) {

    .experiencetitle{
        text-align: center;
    }
  
    .mainexperience {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 130rem;
        background-color: #212529;
        padding-top: 2rem;
        gap: 42px;
    }
    
    .experiencediv {
        width: 100%;
        height: 90%;
        display: flex;
        position: relative;
        padding-left: 40px;
    }
    

    .blue-box {
        width: 1300px;
        display: flex;
        justify-content: flex-start;
        height: 554px;
    }
    .verticalline::before{
        background:    #FFF;
        content: "";
        height: 100%;
        left: 18px;
        position: absolute;
        top: 0;
        width: 4px;
    }

    .red-box{
        height: 530px;
        width: 90%;
       display: flex;
       justify-content: flex-end;
    }
   .blue-box{
    width: 90%;
    height: 530px;
    display: flex;
       justify-content: flex-end;
  
   }
   .yellow-box {
    width: 90%;
    height: 500px;
    display: flex;
       justify-content: flex-end;
       height: 554px;
   }
    
  .jobs{
        width: 100%;

  }
  .jobul {
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 15px 10px 15px 15px;
        display: flex;
    flex-direction: column;
     max-width: 550px;
     width: 100%;

}

}
@media only screen and (min-width: 760px) and (max-width: 1020px) {


    .mainexperience {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100rem;
        background-color: #212529;
        padding-top: 2rem;
        gap: 42px;
    }
    
    .experiencediv {
        width: 100%;
        height: 90%;
        display: flex;
        position: relative;
        padding-left: 40px;
    }
    

    .blue-box {
        width: 1300px;
        display: flex;
        justify-content: flex-start;
        height: 554px;
    }
    .verticalline::before{
        background:    #FFF;
        content: "";
        height: 100%;
        left: 18px;
        position: absolute;
        top: 0;
        width: 4px;
    }

    .red-box{
        height: 350px;        width: 90%;
       display: flex;
       justify-content: flex-end;
    }
   .blue-box{
    width: 90%;
    height: 350px;    display: flex;
       justify-content: flex-end;
  
   }
   .yellow-box {
    width: 90%;
    height: 350px;    display: flex;
       justify-content: flex-end;
       height: 554px;
   }
    
  .jobs{
        width: 100%;

  }
  .jobul {
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 15px 10px 15px 15px;
    display: flex;
    flex-direction: column;
    max-width: 712px;
    width: 100%;
}

}
@media only screen and (min-width: 1020px) and (max-width: 1320px) {


    .mainexperience {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100rem;
        background-color: #212529;
        padding-top: 2rem;
        gap: 42px;
    }
    
    .experiencediv {
        width: 100%;
        height: 90%;
        display: flex;
        position: relative;
        padding-left: 40px;
    }
    

    .blue-box {
        width: 1300px;
        display: flex;
        justify-content: flex-start;
        height: 554px;
    }
    .verticalline::before{
        background:    #FFF;
        content: "";
        height: 100%;
        left: 18px;
        position: absolute;
        top: 0;
        width: 4px;
    }

    .red-box{
        height: 350px;      
          width: 80%;
       display: flex;
       justify-content: flex-end;
    }
   .blue-box{
    width: 80%;
    height: 350px;    display: flex;
       justify-content: flex-end;
  
   }
   .yellow-box {
    width: 80%;
    height: 350px;    display: flex;
       justify-content: flex-end;
       height: 554px;
   }
    
  .jobs{
        width: 100%;

  }
  .jobul {
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 15px 10px 15px 15px;
    display: flex;
    flex-direction: column;
    max-width: 712px;
    width: 100%;
}

}
